.admin-title {
  margin-right: 30px;
}

.jumbotron {
  text-align: right;
}

.fs-12 {
  font-size: 12px;
}

.w-96 {
  width: 96%;
}

.w-85 {
  width: 85%;
}

.w-15 {
  width: 15% !important;
}

.rounded-lg {
  border-radius: 30px;
}