.hamburger-icon {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7%;
  right: 5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  &.close {
    top: 3% !important;
  }

  input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    a {
      text-wrap: wrap;
    }
  }

  span {
    background: #36383f;
    border-radius: 12px;
    display: flex;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    transform-origin: 16.65px 2px;
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease;
    width: 27px;
    z-index: 1;
  }
}