.datepicker {
  &.error {
    input[type="text"] {
      border-color: rgb(220, 53, 69) !important;
    }
  }
}

.date-error {
  font-size: 14px;
  color: rgb(220, 53, 69);
}

.DayPicker-Day--today {
  cursor: not-allowed;
}