.bc-dark-blue {
  overflow-x: none;
  padding: 15px 0;

  &:last-child {
    border-top: 1px solid #2E5994;
  }

  .container {
    padding: 30px 0;

    .footer-menu {
      display: flex;
      flex-wrap: nowrap;

      a {
        color: white;
        text-decoration: none;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .c-blue-text {
    color: #0A0A0A;
  }

  &.small {
    padding: 10px 0 !important;

    .container {
      padding: 10px 0;
    }

    a {
      font-size: 12px !important;
    }

    p {
      font-size: 12px;
    }
  }
}