.bc-light-gray {
  background-color: #EEEEEE;
  width: 70%;

  >div {
    padding: 0;
  }

  &.small {
    width: 100%;

    >div {
      padding: 10px 0;
    }
  }
}

.column-image {
  h4 {
    font-weight: 600;
  }

  .image {
    width: 100%;
    height: 430px !important;
  }
}